body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: lightcoral;
}

ol {
  background-color: white;
  list-style-type: none;
  font-size: 25px;
  font-weight: 800;
  margin: 50px;
  border-radius: 20px;
}

li {
  padding: 15px;
}
