* {
  margin: 0;
}

body {
  background-color: black;
}

.App {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#nav {
  grid-column: 1/-1;
  grid-row: 1/2;
  text-align: center;
  background-color: red;
  margin: 0;
}

#nav > h1 {
  float: left;
  margin: 20px;
  background-color: red;
}

#nav > #icons {
  float: right;
  margin: 20px;
  background-color: red;
}

#tweet {
  color: white;
  background-color: red;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
}

#tweet > button {
  border-radius: 20px;
  font-size: 20px;
}

#tweets {
  grid-column: 2/5;
  grid-row: 2/3;
}

#tweets > h1,
h3 {
  color: white;
  margin: 10px;
  text-align: center;
}

#footer {
  grid-column: 1/-1;
  grid-row: 3/4;
  background-color: black;
  color: red;
  font-weight: 800px;
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

form {
  margin: 20px;
  color: white;
}
