body {
  text-align: center;
  background-color: grey;
  background-image: url("./matematicas.jpg");
  background-size: cover;
}

#head {
  font-size: 50px;
  color: red;
}

#forNumb1 {
  margin: 15px;
  padding: 8px;
  color: black;
  font-weight: 800;
}

#forNumb2 {
  margin: 15px;
  padding: 8px;
  color: black;
  font-weight: 800;
}

input {
  margin-left: 18px;
}

button {
  margin: 15px;
  color: black;
  font-weight: 800;
}

#opera {
  margin: 15px;
}

h1 {
  color: red;
}
