body {
  background-image: url("dj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: Black;
  text-transform: uppercase;
  font-weight: 900;
  text-shadow: 3px 3px red;
}

#squares {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#box1 {
  border-radius: 13px;
}

#box2 {
  border-radius: 13px;
}

#box3 {
  border-radius: 13px;
}

#box4 {
  border-radius: 13px;
}
